<div>
  <h3>To do list</h3>
  <div class="todos">
    <div class="todo">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Pending Task</mat-label>
        <input matInput placeholder="Add task" type="text" #todo />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="addTodo(todo.value)"
        class="delete"
      >
        Add
      </button>
      <ul *ngFor="let item of todos">
        <mat-list role="list">
          <mat-list-item role="listitem"
            >{{ item.name }}
            <button
              mat-raised-button
              color="warn"
              (click)="removeTodo(item.id)"
            >
              Remove
            </button></mat-list-item
          >
        </mat-list>
      </ul>
    </div>
  </div>
</div>
